
form{
    max-width: 500px;
    margin: 40px auto;
    background-color: #ffff;
    padding: 30px;
    //border: solid 1px red;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

label{
    display: block;
    margin: 0 auto;
    text-align: center;
}


input{
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    padding: 10px 10px;
    margin-bottom: 5px;
    font-size: 12px;
    &[type=submit]{
        background-color: lightseagreen;
        cursor: pointer;
        width: 50%;
        margin: 0 auto;
    }
}
