.Story{
    margin: 0 auto;
    width: 300px;
    background-color: grey;
    border: solid red 1px;
    margin-bottom: 20px;

    .heart-icon {
        color: grey;
        &.active{
            color: red;
        }
    }

}

