.Stories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #B9DEED;
    
}

.favorite{
    display: block;
    margin: 10px auto;
    border: solid red 2px;
    width: 300px;  
    text-align: center;
}